.itinerary-item {
  z-index: 10px;
  color: red;
  background: black;
  border-radius: 3px;
  padding: 25px 30px;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 80%;
  height: 6.5%;
  margin-right: 10%;
  margin-left: 0;
  position: relative;
}

.itinerary-item-control {
  cursor: pointer;
  width: 10px;
  color: green;
}

.itinerary-item-right {
  position: absolute;
  top: 15%;
  left: 3%;
}

.itinerary-item-left {
  position: absolute;
  top: 25%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
