.directions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
}

.directions > ul > li {
  list-style: none;
  line-height: 1.5rem;
}

.directions > ul > li > img {
  padding-right: 15px;
}

.hide {
  display: none;
}
